.Contacts {
  background-color: rgb(245, 245, 245);
  padding: 2rem 0rem 8rem;
}
.Contacts-Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.Contacts-Header__Title {
  margin-top: 1.5rem;
  font-family: "Poppins-Bold";
  text-align: center;
}

.Contacts-Cards {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem;
}
.Contacts-infiniteScroll {
  font-family: "Poppins-SemiBold";
}
.Contacts-Spinner {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Contacts-infiniteScroll_items {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 577px) {
  .Contacts {
    padding: 4rem 2rem;
  }
  .Contacts-Card__Container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .Contacts-Cards {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 577px) {
  .Contacts {
    background: url(../../assets/SVGs/Cloud-3-grey.svg) right 25% bottom 20% /15rem
        58% no-repeat,
      url(../../assets/SVGs/Cloud-3-grey.svg) left 25% top 20% /20rem 58% no-repeat,
      url(../../assets/SVGs/Cloud-3-grey.svg) right 25% bottom 20% /15rem 58% no-repeat,
      url(../../assets/SVGs/Cloud-3-grey.svg) left 25% top 20% /20rem 58% no-repeat,
      rgb(245, 245, 245);
    animation: float 90s ease-in-out infinite;
  }
  .Contacts-Card__Container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Contacts-Card__Container {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
